.HomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.GitLogo{
  padding-top: 54px;
  padding-bottom: 72px;
}

.HomeForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opcoes{
  width: 413px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  gap: 41px;
}

.botaoTipo{
  width: 186px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  font-weight: bold;
}

.botaoSelecionado{
  background: black;
  color: white;
}

.caixaProcura{
  width: 780px;
  padding: 12px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
}