.HomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.GitLogo{
  padding-top: 54px;
  padding-bottom: 72px;
}

.HomeForm{

}

.opcoes{
  width: 413px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.botaoTipo{
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid;
}

.botaoSelecionado{
  background: black;
  color: white;
}